.doc__container {
  display: flex;
  flex-direction: row;
  font-size: 10px;
  padding-top: 1px;
}

.doc__container * {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.doc__cover {
  min-height: 50px;
  min-width: 52px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: 1px solid var(--border);
}
.doc__cover > img {
  max-height: 50px;
  max-width: 50px;
}

.doc__mapdata {
  padding-left: 7px;
  width: 226px;
  border-right: 1px solid var(--border);
}
.doc__name {
  color: var(--text);
  font-size: 12px;
}
.doc__author,
.doc__mapper {
  color: var(--text-secondary);
  font-size: 10px;
  margin-left: 5px;
}

.doc__saverdata {
  padding-left: 8px;
  color: #000000;
  font-size: 10px;
}

.doc__scoredata {
  padding-left: 12px;
  color: #000000;
  font-size: 10px;
}

.doc__cta {
  margin-left: auto;
  margin-right: 10px;
  width: 100px;
  align-self: center;
  text-align: center;
}

.doc__cta > button {
  padding: 10px 5px;
}

.doc__key:hover {
  position: absolute;
  font-size: 3em;
  background-color: var(--background-input);
  padding: 20px;
  border-radius: 20px;
  z-index: 99;
}

.SearchPage-input {
  outline: none;

  height: 40px;
  border: 0px solid transparent;
  border-radius: 30px;
  background: var(--background-input);

  padding: 9px 0px 8px 53px;
  color: var(--text);
  width: 260px;
  font-size: 1.1em;
  box-sizing: border-box;

  margin-left: 8px;
}

.SearchPage-input + svg {
  position: absolute;
  left: 24px;
  top: 15px;
}

.SearchPage-button {
  outline: none;
  box-sizing: border-box;
  height: 40px;
  padding: 4px 20px;
  margin-left: 12px;
  border-radius: 20px;
  border: 0px solid transparent;

  font-weight: normal;
  font-size: 1.1em;
  color: var(--text-dimmed);
  background-color: var(--background-input);
}

.SearchList__container {
  box-sizing: border-box;
  max-height: calc(100vh - (52px * 2));
  min-height: calc(100vh - (52px * 2));
  overflow-y: scroll;
  margin-right: -999999999999px; /* throw scroll awwaaaaaaaay */
}
