:root {
  --text: #333333;
  --text-secondary: #555555;
  --text-dimmed: #888888;

  --background: #CBC1CF;
  --background-primary: #BEA8C7;
  --border: #BCB3BF;
  --background-icon-pressed: #A78CB0;
  --background-icon-notpressed: #A78CB0;
  --background-input: #DDDDDD;
}

input {
  padding: 8px 9px;
}

body {
  margin: 0;
  height: 100vh;
  overflow-y: hidden;
}

* {
  font-smooth: never;
  -webkit-font-smoothing : none;
}

.LayoutRow-Container {
  width: 500px;
  height: 52px;
  background-color: var(--background);
  box-sizing: border-box;
  position: relative;
}

.LayoutRow-Container.primary {
  background-color: var(--background-primary);
}

.LayoutRow-Container.pageHeader {
  padding-top: 10px;
}

.LayoutRow-Container.borderBottom {
  border-bottom: 1px solid var(--border);
}

.LayoutRow-Container.placeholder {
  position: fixed;
  height: 100vh;
  font-size: 50px;
  padding-top: 50px;
  color: var(--background-primary);
  font-weight: bolder;
  text-align: center;
}

.Header-logo {
  height: 30px;
  width: auto;
  margin-left: 12px;
  margin-top: 11px;
}

.Header-logotext {
  position: absolute;
  left: 122px;
  top: 2px;
  font-size: 10px;
  color: white;
}

.expandButton {
  background: #5f2c82;
  background: -webkit-linear-gradient(to right, #5f2c82, transparent);
  background: linear-gradient(to right, #5f2c82, transparent);

  position: fixed;
  width: 70px;
  top: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  
  opacity: 1;
  transition: opacity .8s ease-in-out;
}

.expandButton.animate {
  opacity: 0;
}

.expandButton:hover {
  opacity: 1;
}

.Chevron {
  position:relative;
  display:block;
  transform: rotateZ(-90deg);
  height: 100px; /*height should be double border*/
  width: 100px;
  margin-top: -40px;
}
.Chevron::before,
.Chevron::after {
  position:absolute;
  display:block;
  content:"";
  border: 50px solid transparent; /*adjust size*/
}
/*Change the four instances of 'top' below to rotate (top/right/bottom/left)*/
.Chevron::before {
  top:5px;
  border-top-color: #fff; /*Chevron Color*/
}
.Chevron::after {
  top:-5px; /*adjust thickness*/
  border-top-color: #5f2c82; /*Match background colour*/
}

.Header-hide {
  position: absolute;
  top: 7px;
  right: 8px;
}

.App {
  transition: margin-left 1s;
}
