:root {
  --navigation-height: 52px;
  --body-height: calc(100vh - var(--navigation-height));

  --text: #333333;
  --text-secondary: #555555;
  --text-dimmed: #888888;

  --background: #cbc1cf;
  --background-secondary: #cfcec1;
  --background-secondary-buttonover: #e7e5c5;
  --background-primary: #bea8c7;
  --border: #bcb3bf;
  --background-icon-pressed: #b790c5;
  --background-icon-notpressed: #a580b1;
  --background-input: #dddddd;

  --header-icon-color: var(--background-primary);
}

input {
  padding: 8px 9px;
}

body {
  margin: 0;
  height: 100vh;
  overflow-y: hidden;
  overflow-x: hidden;
}

* {
  font-smooth: never;
  -webkit-font-smoothing: none;
}

.Header-logo {
  height: 30px;
  width: auto;
  margin-left: 12px;
  margin-top: 11px;
}

.Header-logotext {
  position: absolute;
  left: 122px;
  top: 2px;
  font-size: 10px;
  color: white;
}

@keyframes initialBubbleAnimation {
  0% {
    width: 90px;
    height: 90px;
  }
  80% {
    width: 20px;
    height: 20px;
  }
  100% {
    width: 30px;
    height: 30px;
  }
}

@keyframes initialBubbleTooltipAnimation {
  0% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
